# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tup1=(10,20,13,14,15)
print(tup1)
type(tup1)

(10, 20, 13, 14, 15)

tuple

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [17]:
# write your answer here
tup1=(10,15.5,"ajay",True)
print(tup1)

(10, 15.5, 'ajay', True)

tuple

### Question 3
Find the length of a tuple containing names of 4 students.

In [8]:
# write your answer here
name=("Rahul","Aman","ajay","Vansh")
print("len:",len(name))

len: 4

### Question 4
Access and print the last element of a tuple.

In [7]:
# write your answer here
tup1=(10,15,20,"ajay kumar")
print("last element:",tup1[-1])

last element: ajay kumar

### Question 5
Check whether an element exists in a tuple or not.

In [12]:
# write your answer here
tup1=(10,20,15,20)
n=int(input())
if n in tup1:
  print("element  exists")
else:
  print("element not exists")

15
element  exists

### Question 6
Convert a tuple into a list.

In [13]:
# write your answer here
tup1=(10,20,30,40)
l=list(tup1)
print(l)

[10, 20, 30, 40]

### Question 7
Convert a list into a tuple.

In [14]:
# write your answer here
list1=[10,20,30,50]
tup1=tuple(list1)
print(tup1)

(10, 20, 30, 50)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [18]:
# write your answer here

t=("apple", "banana", "cherry", "apple", "cherry")

s=[]  #apple , banana #cherry


for i in t:
  if i not in s:
    print(f"this is count of {i}:",t.count(i))
    s.append(i)

this is count of apple: 2
this is count of banana: 1
this is count of cherry: 2

### Question 9
Find the index of an element in a tuple.

In [16]:
# write your answer here
tup1=(10,25,15,"apple","guava")
print(tup1.index("apple"))

3

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [ ]:
# write your answer here
t=("apple", "banana", "cherry", "apple", "cherry")

print(t[3])

t[3]="guava"     # this line will throw error and hence tuple is immutable

print(t)